<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'o_list' %}">Menu</a>
            {% if user.id == object.user.id %}
                <a style="width: 50 px; height: 30px;margin-top: 50px"  href="{% url 'o_delete' object.id %}">Delete</a>
                <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'o_up' object.id %}">Update</a>
            {% endif %}
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">
                <h3>Title: {{object.title}}</h3>
                <h3>User: {{object.user}}</h3>
                <h3>Author: {{object.author}}</h3>
                <h3>Description: {{object.description}}</h3>
                <h3>Published date: {{object.published_date}}</h3>



            </div>
        </div>

    <div class="ssss"> 
            {% for vakan in vakansi %}
            <tr> <hr><hr>
            <h3>User: {{ vakan.user }}</h3>
            <h3>Book: {{ vakan.book }}</h3>
            <h3>Borrow_date: {{ vakan.borrow_date}}</h3>
            </tr>
            {% endfor %}
        </div>
{% endblock content%}
</body>
</html>
